/*ImageView {*/
/*    !*-fx-image: url("/Images/NormalZombie.gif");*!*/
/*    -fx-fit-width: 300;*/
/*    -fx-fit-height: 200;*/
/*    -fx-preserve-ratio: true;*/
/*    -fx-alignment: center;*/
/*}*/

.background{
    -fx-background-image: url("/Images/Backgroud/zombie-background.jpg");
}

.label{
    -fx-text-fill: #008080;
    -fx-font-family: Jokerman;

}

.button{
    -fx-background-image: url("/Images/Power/Bomb.gif");
}

.welcomeButton{
    -fx-background-color: Grey;
    -fx-font-family: "Franklin Gothic Heavy";
    -fx-text-fill: white;
    -fx-border-radius: 10 10 10 10;
}

.easyButton, .normalButton, .hardButton {

    -fx-font-family: "Franklin Gothic Heavy";
    -fx-text-fill: white;
    -fx-border-radius: 10 10 10 10;
}

.easyButton{
    -fx-background-color: #009999;
}

.normalButton{
    -fx-background-color: Grey;
    -fx-font-family: "Franklin Gothic Heavy";
    -fx-text-fill: white;
    -fx-border-radius: 10 10 10 10;
}

.hardButton{
    -fx-background-color: #990000;
    -fx-font-family: "Franklin Gothic Heavy";
    -fx-text-fill: white;
    -fx-border-radius: 10 10 10 10;
}

.healthPoint{
    -fx-border-style: none;
}