/*ImageView {*/
/*    !*-fx-image: url("/Images/NormalZombie.gif");*!*/
/*    -fx-fit-width: 300;*/
/*    -fx-fit-height: 200;*/
/*    -fx-preserve-ratio: true;*/
/*    -fx-alignment: center;*/
/*}*/

.background, .rule{
    -fx-background-image: url("/Images/Backgroud/cartoon.jpg");
}

.welcome-title, .mode-text{
    -fx-text-fill: #ababab;
    -fx-font-family: "Footlight MT Light";
    -fx-font-size: 120;

}

.button{
    -fx-background-image: url("/Images/Power/Bomb.gif");
}

.welcome-button{
    -fx-background-color: black;
    -fx-font-family: "Franklin Gothic Heavy";
    -fx-text-fill: white;
    -fx-border-radius: 10 10 10 10;
    -fx-pref-width: 300;
    -fx-opacity: 60%;
    -fx-font-size: 25;
}

.welcome-button:hover{
    -fx-opacity: 100%;
    -fx-cursor: pointer;
}

.mode-text{
    -fx-font-size: 100;
}

.easyButton, .normalButton, .hardButton, .rule-backButton, .rule-StartButton,.playAgain,.exit{
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-border-radius: 10 10 10 10;
    -fx-pref-width: 200;
    -fx-pref-height: 80;
}

.easyButton,.rule-StartButton,.playAgain{
    -fx-background-color: #009999;

}

.easyButton:hover, .rule-StartButton:hover, .playAgain:hover{
    -fx-background-color: #19b6b6;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.normalButton{
    -fx-background-color: Grey;
}

.normalButton:hover{
    -fx-background-color: #a0a0a0;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.hardButton, .rule-backButton, .exit{
    -fx-background-color: #990000;
}

.hardButton:hover, .rule-backButton:hover, .exit:hover{
    -fx-background-color: #bd0101;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.healthPoint{
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.description{
    -fx-text-alignment: justify;
    -fx-max-width: 1350;
    -fx-font-size: 24;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: #ababab;
    -fx-wrap-text: true;
}

.rule-text{
    -fx-font-size: 110;
    -fx-font-family: "Footlight MT Light";
    -fx-text-fill: #ababab;
}

.rule-zombie{
    -fx-font-size: 30;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: #ababab;
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: transparent transparent #ababab transparent;
}

.rule-normalZombie, .rule-speedZombie, .rule-defenseZombie{
    -fx-font-size: 22;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: #ababab;
}

.status{
    -fx-font-family: "Footlight MT Light";
    -fx-font-size: 120;
    -fx-text-fill: #ababab;
}

.healthStatus, .zombieKilled{
    -fx-font-family: "Footlight MT Light";
    -fx-text-fill: #ababab;
    -fx-font-size: 45;
    -fx-padding: 0 0 0 20;
}


.score-label, .zombie-label{
    -fx-font-family: "Footlight MT Light";
    -fx-text-fill: #ababab;
    -fx-font-size: 22;
    -fx-padding: 5 5 5 5;
}

.time-label{
    -fx-font-family: "Footlight MT Light";
    -fx-text-fill: #ababab;
    -fx-font-size: 65;
    -fx-padding: 10 10 10 10;
}